*, *::before, *::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

:root {
	--base: #555;
	--base-100: #f1f1f1;
	--base-400: #555;
	--base-800: #000;
	--yellow: #ffda4b;
	--yellow-100: #fffbe6;
	--yellow-400: #ffda4b;
	--yellow-800: #8b6f00;
	--red: #CF202C;
	--blue:#3A57A7;
	--blue-100: #e2f8ff;
	--blue-400: #61dafb;
	--blue-800: #0a61ae;
}

body {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
	padding-bottom:1000px;
}

a {
	text-decoration: none;
	color: var(--red);
	&:hover {
		text-decoration: underline;
	}
}

header {
	padding-top:10px;
	padding-bottom:10px;
	display:flex;
	justify-content:space-between;
	max-width:1440px;
	margin:auto;
	border-bottom: 1px solid rgba(0,0,0,0.1);

	.logo-holder {
		display:flex;
		padding:10px;
		align-items:center;
		font-weight:600;
		color: var(--base-800);
		
		.logo {
			display:flex;
			align-items:center;
			justify-content:center;
			font-size:32px;
			background-color: var(--base-800);
			color: var(--base-100);
			height:64px;
			width:64px;
			margin-right:20px;
			border-radius:50%;
		}
		.logo-text {
			flex:1;
		}
	}

	nav {
		display:flex;
		align-items:center;
		ul {
			display:flex;
			list-style-type: none;
			gap:5px;
			li {
				display:inline-block;
				a {
					display:inline-block;
					padding:10px 20px;
					color:var(--base);
					font-size:1rem;
					&:hover {
						background-color: var(--base-100);
						border-radius:10px;
						text-decoration:none;
					}
				}
			}
		}
		.mobile-toggle {
			display:none;
			color:var(--base-800);
			padding:10px;
			@media (max-width:768px){
				display:inline-block;
				position:absolute;
				top:20px;
				right:20px;
			}
		}
	}

	@media (max-width: 1024px) {
		flex-direction:column;
		align-items:center;
	}

	@media (max-width: 768px) {
		flex-direction:column;
		align-items:center;
		nav {
			margin-top:10px;
			width:100%;
			ul {
				display:none;
				flex-direction:column;
				text-align:center;
				width:100%;
				a {
					width:100%;
				}
				&.active {
					display:flex;
				}
			}
		}
	}
}

section {
	&.full-width-grey{
		max-width: 100%!important;
		background-color: #F8F8F8;
		margin-top: 0px!important;
    	margin-bottom: -30px!important;
		padding-bottom:30px;
	}
	&.full-width-blue{
		max-width: 100%!important;
		background-color: var(--blue);
		margin-top: 0px!important;
    	margin-bottom: 0px!important;
		h2, p{
			color:white;
		}
	}

	h3.subtitle{
		font-size: 1.4rem;
	}
	
	max-width:1440px;
	margin:auto;
	gap:30px;
	margin-top:30px;
	margin-bottom:30px;


	@media (max-width:1440px){
		padding-left:30px;
		padding-right:30px;
	}
}

.button {
	display:inline-block;
	padding:10px 30px;
	background-color: var(--red);
	color: var(--base-100);
	border-radius:8px;
	transition: ease 0.3s all;
	font-size:1.05rem;
	&:hover {
		text-decoration:none;
		background-color: var(--base-800);
	}
	&.white {
		background-color: white;
		color: var(--base-800);
		&:hover {
			background-color: var(--base-100);
			color: var(--base);
		}
	}
	&.black {
		background-color: black;
		color: white;
		&:hover {
			background-color: var(--base);
			color: var(--base-100);
		}
	}
	&.outline{
		border:1px solid var(--blue);
		color: var(--blue);
		background: none;

		&:hover {
			text-decoration:none;
			background-color: var(--blue);
			color:white;
		}
	}
}

h1 {
	font-size:64px;
	line-height:1;
	margin-bottom:10px;
	small {
		display:block;
		font-weight:100;
	}
	sup {
		font-size: 0.4em;
		vertical-align: super;
		line-height: 0;
	}
	@media (max-width:1024px){
		font-size:48px;
	}
}

.hero {
	display:flex;
	@media (max-width:1024px){
		flex-direction:column;
	}
	.hero-banner {
		width: 100%;
		height: auto;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	.hero-blue {
		flex:1;
		/* background-color: var(--blue-100);
		border-radius:30px;
		padding:30px; */
		display:flex;
		flex-direction:column;
		justify-content:center;
		span {
			@media (max-width:768px){
				display:none;
			}
		}

		h1.hero-topic{
			color: var(--blue);
			font-size: 2.4rem;
			line-height: 1.2;
			margin-bottom:20px;
		}
		p.hero-subtopic{
			font-size: 2.2rem;
			font-weight:600;
			margin-bottom:20px;
		}
		p.hero-desc{
			padding:22px 0;
		}

		.call-to-action {
			margin-top:20px;
			margin-bottom:10px;
			a {
				margin-right:10px;
				margin-bottom:10px;
			}
		}
		.social-links {
			a {
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
	.hero-yellow {
		flex:1;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.blue-box{
		background-color: var(--blue);
		padding:15px 10px;
		margin-bottom:15px;
		display: inline-block;
		width: fit-content;
		h3{
			font-size: 1.6rem;
    		font-weight: 600;
    		line-height: 1;
			margin-bottom:0;
			color: #fff;	
		}
	}
}

.logos {
	background-color: var(--base-100);
	border-radius:30px;
	padding:30px 0px;
	@media (max-width:1440px){
		border-radius:0px;
	}
	.marquee {
		width:100vw;
		max-width:100%;
		height:128px;
		overflow:hidden;
		position:relative;
		.track {
			position:absolute;
			white-space:nowrap;
			will-change:transform;
			animation: marquee 40s linear infinite;
			display:flex;
			gap:10px;
		}
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

h2 {
	font-size:2.2rem;
	font-weight: 600;
	line-height:1;
	margin-bottom:10px;
	color: var(--base-800);
	padding:30px 0 30px 0;
	small {
		display:block;
		font-weight:100;
		font-size:0.5em;
		color:var(--base);
	}
	@media (max-width:1024px){
		font-size:2.4rem;
	}
}

h3 {
	font-size:32px;
	font-weight:600;
	line-height:1;
	margin-bottom:20px;
	color: var(--base-800);
}
.mb-sm{
	margin-bottom:3rem;
}

.event {
	border-top:1px solid var(--base-100);
	.holder-blue {
		border: 1px solid var(--base-100);
		border-radius:12px;
		padding:30px;
		display:flex;
		@media(max-width:1024px){
			flex-direction:column;
		}
		.left-column {
			flex:1;
			ul {
				list-style-type: none;
				gap:10px;
				margin-right:100px;
				margin-bottom:20px;
				li {
					display:inline-block;
					padding-left:20px;
					margin-bottom:15px;
				}
			}
		}
		.right-column {
			flex:1;
			p {
				margin-bottom:20px;
			}
		}
	}
}

.work-experience {
	.jobs {
		display:flex;
		gap:30px;
		margin-bottom: 20px;
		
		&.leaders{
			width:50%;
		}
		@media(max-width:1024px){
			flex-direction:column;
		}
		article {
			/* background-color: var(--yellow-100);
			
			 */
			&.box-leader{
				border: 1px solid #dcdcdc;
				border-radius:15px;
			}
			padding:30px;
			flex:1;
			h3 {
				margin-top:20px;
				margin-bottom:10px;
				font-size: 1.4rem;
			}
			.role{
				p {
					font-size: 1rem;
					margin-bottom:0
				}
				border-bottom: 1px solid #dcdcdc;
				padding:10px 0 10px 0;
			}
			div {
				font-weight:600;
				margin-bottom:5px;
				color: var(--base-800);
			}
			p {
				margin-bottom:10px;
			}
			ul.sponsor{
				padding:10px 0 0 20px;
			}
			ul.leader-contact{
				padding:10px 0 0 0px;
				font-size: .99rem;
				list-style-type: none;
			}
			figure {
				width:100%;
				padding-top:56.25%;
				overflow:hidden;
				position:relative;
				border-radius:15px;
				img {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					object-fit:cover;
					transition: ease 3s all;
				}
				figcaption {
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					background-color: rgba(0,0,0,0.5);
					color: var(--base-100);
					text-align:center;
					padding:10px;
					opacity:0;
					visibility:hidden;
					transition: ease 0.3s all;
				}

				&:hover {
					figcaption {
						opacity:1;
						visibility:visible;
					}
					img {
						transform: scale(1.2);
					}
				}

			}
		}
	}
}

.bento {
	.bento-grid {
		display:grid;
		grid-gap:30px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height:960px;
		@media(max-width:1024px){
			grid-template-rows: repeat(8, 1fr);
		}
		@media(max-width:768px){
			display:flex;
			flex-direction:column;
			gap:30px;
			height:auto;
		}
		.bento-item {
			padding:30px;
			background-color: var(--base-100);
			border-radius:15px;
			position:relative;
			overflow:hidden;
			img {
				position:absolute;
				top:0;
				left:0;
				height:100%;
				object-fit:cover;
				transition: ease 3s all;
			}
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
			@media(max-width:768px){
				height:240px;
			}
			&:nth-child(1) {
				grid-column: span 2;
				grid-row: span 2;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 2;
				}
			}
			&:nth-child(2) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(3) {
				grid-column: span 1;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(4) {
				grid-column: span 1;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 4;
				}
			}
			&:nth-child(5) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(6) {
				grid-column: span 5;
				grid-row: span 3;
				@media(max-width:1024px){
					grid-column: span 5;
					grid-row: span 2;
				}
			}
		}
	}
}

